@import url(variable.css);
body{
    background-color: var(--background);
    color: var(--text-dark);

}
.btn-primary{
    background-color: var(--primary);
    border: none;
    }
.btn-primary :hover{
    background-color: var(--primary-dark);
    
}
.card{
    background-color: var(--surface);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
